// -------- General -----------
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
ul {
  padding: 0;
}
img {
  width: 100%;
}
// -------- Colors -----------
@blue: #41a7f5;
@fadein-blue: fadeout(@blue, 70%);
@purple: #861d8a;
@grey: #808080;
@light-grey: #e6e6e6;
@background-color-1: #fff;
@background-color-2: #f2f2f2;

// -------- Scaffolding Variables -----------
@border-radius-base: 6px;
@border-radius-sm: 3px;
@border-radius-md: 9px;
@border-radius-lg: 12px;
@border-radius-extralg: 24px;

// -------- Breakpoints -----------
@breakpoint-sm: 576px;
@breakpoint-md: 768px;
@breakpoint-lg: 992px;
@breakpoint-xl: 1200px;
@breakpoint-xxl: 1600px;

.page-content {
  @media screen and (max-width: @breakpoint-sm) {
    padding: 0 25px 50px 25px;
  }
  @media screen and (max-width: @breakpoint-xl) and (min-width: calc(@breakpoint-sm + 1px)) {
    padding: 0 50px 50px 50px;
  }

  padding: 0 200px 50px 200px;
  font-size: @font-size-lg;
  font-family: @basic-font;
  color: @text-color;
  display: flex;
  flex-direction: column;

  &-0 {
    background: @background-color-1;
  }
  &-1 {
    background: @background-color-2;
  }
  section {
    padding: 1.333rem 0;
    width: 100%;
  }
}
