.full-progress-bar {
  width: 100%;
  background-color: @light-grey;
  height: 45px;
  border-radius: @border-radius-lg;
  .progress-bar {
    background-image: linear-gradient(90deg, @purple, @blue);
    height: 100%;
    border-radius: @border-radius-lg;
    padding: 0 10px;
    * {
      font-size: @font-size-lg-xxs;
      color: white;
      text-transform: uppercase;
    }
  }
}
